@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    box-sizing: border-box;
}
h1{
    font-family: 'Pacifico', cursive;
    position: absolute;
    top: 0;
    letter-spacing: 7px;
}
h1 span{
    font-size: 70px;

}
body{
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.container{
    width:30rem;
    height: 20rem;
    background-color:#f18117;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border:3px solid black;
    border-radius: 29px;
    max-width: 80%;
}
input{
    padding:.5rem;
    border: 1ps solid black;
    outline: none;
    border-radius: 5px;
    width: 20rem;
}
button{
    padding:9px;
    width:9rem;
    background: green;
    outline: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: larger;
    margin-top: 2rem;
}

